body {
  margin: 0;
  padding: 0;
  margin-top: 5rem;
  font-family: "Raleway", sans-serif;

  font-size: 1rem;
  background: linear-gradient(90deg, #a2cbd2 0%, #63afbb 100%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 5rem;
  background-color: #fff;
  z-index: 999;
}
.right {
  visibility: hidden;
}
.navlist {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  grid-template-columns: 1fr repeat(4, auto) 1fr;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style-type: none;
}

.navlist li:not(:nth-child(1)) {
  height: 100%;
}

.navlist li:nth-child(2) {
  grid-column-start: 2;
}

/* .navlist .logo_button {
  font-weight: 800;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  font-family: "Poller One";
  height: 100%;
} */

.logo_img {
  width: 90px;
  /* width: 80%; */
  padding: 0.2rem;
  /* border: 2px solid red; */
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.navlist li a {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 2rem;
  color: rgb(49, 49, 49);
  -webkit-transition: font-size 0.15s ease;
  -moz-transition: font-size 0.15s ease;
  -o-transition: font-size 0.15s ease;
  transition: font-size 0.15s ease;
  /* border: 2px solid red; */
  height: 100%;
}
.navlist li a:hover {
  font-size: 1.4rem;
  color: #000;
}

.navlist li.active {
  /* background-color: #c0cddb; */
  padding: 0.5rem 0;
  /* background-color: #dfdfe9; */
  background-color: #f8e2cf;
  border: 1px solid #000;
  /* rgb(237, 193, 197); */
  /* background-color: rgba(235, 168, 174, 1); */
  border-radius: 30px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.navlist li.active a {
  color: #000;
  font-weight: bold;
}
.dropdown {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  /* border: 2px solid red; */
  /* width: 50px; */
  margin-right: 1rem;
}

.hamburger {
  cursor: pointer;
  display: none;
  position: fixed;
}
.hamburger:hover {
  background-color: rgb(242, 242, 242);
}

.hamburger .closeIcon {
  display: none;
}
.showMenu {
  transform: translateY(0);
}
.flagimg {
  width: 50px;
  border-radius: 7px;
  border: 3px solid #fff;
  opacity: 0.6;
}
.flagimg.selected {
  border: 3px solid #000;
  opacity: 1;
}
.flagimg:hover {
  opacity: 1;
}
.flagimg:hover .flagimg.selected {
  opacity: 0.6;
}

.head {
  font-size: 4rem;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.expBoxes {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.expBoxesReport {
  margin-bottom: 5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.expBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 45vw;
  margin-left: 2rem;
  margin-right: 2rem;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #fff;
  border: 1px solid #000;
}
.expBoxReport {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #fff;
  border: 1px solid #000;
  /* border: 5px solid red; */
}

.expBox:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 10px,
    rgba(14, 30, 37, 0.42) 0px 2px 16px 10px;
}

.expBoxReport:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 10px,
    rgba(14, 30, 37, 0.42) 0px 2px 16px 10px;
}

.boxText {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  font-size: 1rem;
  /* border: 5px solid blue; */
}
.boxHead {
  font-size: 2rem;
  font-weight: 1000;
  text-align: center;
}
.jobs {
  text-align: left;
  margin-top: 1rem;
  padding-top: 0;
}
.jobs li {
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}
.jobs li::marker {
  content: "► ";
}
p {
  text-align: left;

  font-size: 1.1rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
.jobimgcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.jobimg {
  width: 200px;
  height: 200px;
}

.btnContact {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #000;
  padding: 1rem;
  width: 250px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  border-radius: 2px;
  background-color: #dfdfe9;

  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btnContact:hover {
  background-color: #efeff5;
}

.boxPoints {
  margin-top: 1rem;
}
.boxPointsReport {
  margin-top: 1rem;
  text-align: center;
}

.fa-chevron-right {
  font-size: 1.25rem;
}

span {
  font-weight: 100;
  font-family: "Bowlby One";
  color: rgb(105, 135, 164);
}

.fa-home {
  font-size: 3rem;
}

.jobs a {
  color: red;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .navbar {
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid black; */
    height: auto;
    padding-top: 1rem;
  }
  .dropdown {
    margin-right: 0rem;
  }

  .hamburger {
    top: 0;
    left: auto;
    right: 0;
    background-color: #fff;
    display: block;
    /* border: 3px solid #73ad21; */
    color: #000;
    padding: 10px;
    z-index: 2100;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 10px;
  }
  /* margin-top: 0;
  margin-left: auto;
  margin-right: 0; */

  /*  */

  .hamburger .closeIcon {
    display: none;
  }
  .showMenu {
    transform: translateY(0);
  }
  .navlist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;

    flex-wrap: wrap;
    /* border: 2px solid red; */
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    list-style-type: none;
  }

  .navlist li:not(:nth-child(1)) {
    height: 100%;
  }

  .navlist li:nth-child(2) {
    grid-column-start: 2;
  }

  .logo_img {
    opacity: 1;
    width: 70px;
  }

  .navlist li a {
    font-size: 1rem;
    padding: 1rem;
  }
  .navlist li.active a:hover {
    font-size: 0.9rem;
  }
  .navlist li a:hover {
    font-size: 1.1rem;
    color: #000;
  }
  .navlist li.active {
    padding: 0.5rem 0;
    border-radius: 25px;
  }

  .body {
    margin-top: 1rem;
  }
  .head {
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .expBoxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  .expBoxesReport {
    grid-row-gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .expBox {
    width: 95vw;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .expBoxReport {
    margin: 0;
    padding: 0;
  }
}
