.headPubli {
  font-weight: bold;
  font-size: 1.5rem;
}
p {
  margin-left: 1rem;
  text-indent: -1.1rem;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 3rem;
}

body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  --text_color: #000;
  /* background: rgb(151, 173, 195);
  background: linear-gradient(
    90deg,
    rgba(151, 173, 195, 1) 0%,
    rgba(192, 205, 219, 1) 30%,
    rgba(192, 205, 219, 1) 70%,
    rgba(151, 173, 195, 1) 100%
  ); */
  /* background: linear-gradient(90deg, #c4e0e5 0%, #4ca1af 100%); */
  background: #fff;
  /* border: 5px solid red; */
  color: #fff;
}

.navbar {
  /* border: 5px solid green; */

  /* transform: translateY(-100%); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid black; */
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 3;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.navlist {
  min-width: 60vw;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.navlist li:not(:nth-child(1)) {
  height: 100%;
}

.navlist li:nth-child(2) {
  grid-column-start: 2;
}

.logo_img {
  opacity: 1;
  width: 120px;
  padding: 0.2rem;
  margin-left: 1rem;
  /* border: 2px solid red; */
}

.navlist li a {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 2rem;
  color: rgb(49, 49, 49);
  -webkit-transition: font-size 0.15s ease;
  -moz-transition: font-size 0.15s ease;
  -o-transition: font-size 0.15s ease;
  transition: font-size 0.15s ease;
  height: 100%;
}
.navlist li.active a:hover {
  font-size: 1.2rem;
}

.navlist li a:hover {
  font-size: 1.4rem;
  color: #000;
}

.navlist li.active {
  padding: 0.5rem 0;
  background-color: #f8e2cf;
  border: 1px solid #000;
  border-radius: 30px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.navlist li.active a {
  color: #000;
  font-weight: bold;
}

.dropdown {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  /* border: 2px solid red; */
  /* width: 50px; */
  margin-right: 1rem;
}

.flagimg {
  width: 50px;
  border-radius: 7px;
  border: 3px solid #fff;
  opacity: 0.6;
}
.flagimg.selected {
  border: 3px solid #000;
  opacity: 1;
}
.flagimg:hover {
  opacity: 1;
}
.flagimg:hover .flagimg.selected {
  opacity: 0.6;
}

.hamburger {
  cursor: pointer;
  display: none;
  position: fixed;
}
.hamburger:hover {
  background-color: rgb(242, 242, 242);
}

.hamburger .closeIcon {
  display: none;
}
.showMenu {
  transform: translateY(0);
}
/* ==================================================================================*/
/* ====================================SECTION 1=====================================*/
/* ==================================================================================*/
.sec1 {
  /* border: 5px solid red; */
  display: grid;
  grid-template-columns: auto auto;
  min-height: 40vh;
  /* gap: 2rem; */
  align-items: center;
  justify-content: center;

  color: var(--text_color);
  padding-top: 3rem;
  /* ???? */
  margin-left: auto;
  margin-right: auto;
  /* ???? */
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.sec1left {
  display: flex;
  flex-direction: column;
  font-size: 5.2rem;
  /* border: 2px solid red; */
}
.sec1 {
  /* border: 2px solid blue; */
  /* max-width: 80vw; */
  margin-left: auto;
  margin-right: auto;
}
.sec1right {
  /* border: 2px solid red; */
  /* margin-left: -500px !important; */
  margin-left: auto;
  margin-right: auto;
}
.sec1right img {
  width: 324px !important;
}

#circleBar-web-text {
  font-family: "FranklinGothic-Book" "Franklin Gothic Medium", "Franklin Gothic",
    "ITC Franklin Gothic", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  fill: #000;
}
#circleBar-web-labels tspan {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  fill: #6d6e71;
}

#circleBar-web-values tspan {
  font-family: "FranklinGothic-Book" "Franklin Gothic Medium", "Franklin Gothic",
    "ITC Franklin Gothic", Arial, sans-serif;
  font-size: 9px;
  font-weight: bold;
  fill: #000;
}
#circleBar-web-values tspan {
  fill: #7d3a4d;
}

.sec1head {
  font-size: 3.2rem;
  font-weight: 100;
}
.sec1head .headspan2 {
  color: #e34736;
  font-weight: 1000;
}
.sec1head .headspan {
  font-weight: 1000;
  /* color: red; */
}

.sec1text {
  color: rgb(80, 80, 80);
  max-width: 50ch;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  /* border: 2px solid red; */
  margin-right: 5rem;
}

.sec1buttons {
  display: flex;
  gap: 1.3rem;
  cursor: pointer;
}

.sec1button {
  font-size: 0.9rem;
  background-color: #fff;
  border: 1px solid black;
  /* border-radius: 5px; */
  padding: 1rem 1rem;
  text-decoration: none;
  color: #000;
  text-align: center;
  width: 200px;
}

.sec1button:hover {
  font-weight: bold;
  background-color: rgb(239, 239, 239);
}
br.responsive {
  display: none;
}
/* canvas {
  width: 100%;
} */
#mynetwork {
  width: 450px;
  height: 450px;
  /* border: 1px solid lightgray; */
}

.sec1img {
  width: 300px;
  height: 300px;
  /* Additional CSS properties for .sec1img */
}
/* ==================================================================================*/
/* ====================================SECTION 2=====================================*/
/* ==================================================================================*/

.sec2 {
  /* border: 5px solid yellow; */

  /* border: 2px solid red; */

  color: #000;
  /* background-color: #f5f5fe; */

  -webkit-transition: 0.35s ease;
  -moz-transition: 0.35s ease;
  -o-transition: 0.35s ease;
  transition: 0.35s ease;
  overflow: auto; /* Create a scrollable area */
  margin-bottom: 5rem;
}

.sec2head,
.sec3head,
.sec4head,
.sec5head {
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-size: 3.5rem;
  text-align: center;
  color: #000;
  font-weight: 400;

  /* font-weight: 600; */
}

.sec2container {
  display: grid;
  justify-content: baseline;
  align-items: center;
}
.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.download_cv {
  width: 220px;
}

.sec2name {
  margin-top: 0.3rem;
  font-weight: bold;
}

.sec2mid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;

  justify-content: space-between;
}

.sec2row {
  background-color: #fff;
  /* display: flex;
  flex-direction: column; */
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: center;

  padding: 1rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 5px, rgba(0, 0, 0, 0.23) 0px 5px 10px;

  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
  /* border-radius: 5px; */
}

.sec2row:hover {
  border: 1px solid #eeeeee;
  transform: translateY(-10px);
}

.sec2img {
  height: 220px;
  width: 220px;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}

.read_more_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.icons {
  font-size: 1.5rem;
  color: #000;
}

.icons a {
  text-decoration: none;
  color: #000;
}
.icons a:hover {
  color: #5a5a6b;
}
.iconCV {
  font-size: 0.8rem;
  text-decoration: none;
  color: #ef6335;
  font-weight: bold;
  border: 1px solid #000;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 10px;
}

.iconCV:hover {
  font-weight: bold;
  background-color: rgb(239, 239, 239);
}

.fa-file-signature,
.fa-chart-line,
.fa-graduation-cap,
.fa-search-dollar {
  font-size: 3rem;
  color: #f34a12;
}
.fa-search-dollar {
  font-size: 2.4rem;
}

.sec2title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.sec2subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #000;
}
.sec2text {
  color: rgb(80, 80, 80);

  max-width: 30ch;
  /* padding-bottom: 1rem; */
  /* text-align: center; */
  text-align: center;
}
.sec2left {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  gap: 2rem;
  /* border: 2px solid red; */
}

.our-team {
  margin-bottom: 30px;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s linear 0s;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #f34a12;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f34a12;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}
.our-team .name {
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}
.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}
.team-content {
  margin-bottom: 40px;
}
.our-team .social {
  color: #000;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f34a12;
  position: absolute;
  left: 0;
  transition: all 0.5s ease 0s;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
  transition: all 0.5s ease 0s;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.icons a {
  z-index: 9999;
}
.icons {
  z-index: 9999;
}

.our-team:hover .icons a {
  color: #fff !important;
  z-index: 9999;
}

/* ==================================================================================*/
/* ====================================SECTION 3=====================================*/
/* ==================================================================================*/
.sec3 {
  background: #3a5062;
}
.sec3head {
  color: #fff;
}
#timeline {
  display: flex;
  /* flex-direction: column; */
  /* background-color: #111111; */
}

#timeline:hover .t1-item {
  width: 33%;
}

.t1-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 33.3%;
  /* height: 100vh; */
  min-height: 300px;
  color: #ffffff;
  overflow: hidden;
  transition: width 0.5s ease;
  cursor: pointer;
}

.t1-item:before,
.t1-item:after {
  transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.t1-item:after {
  background: rgba(57, 79, 97, 0.9);
  opacity: 1;
  transition: opacity 0.2s ease;
}

.t1-item:before {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 75%
  );
  z-index: 1;
  opacity: 0;
  transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.t1-item:hover {
  width: 35% !important;
}

.t1-item:hover:after {
  opacity: 0;
}

.t1-item:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease 0.25s;
}

.t1-year {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  transition: all 0.35s ease 0.25s;
}
.t1-year p {
  font-size: 1.6rem;
  line-height: 0;
}
.t1-item:hover .t1-year {
  top: 20%;
  transform: translateX(-50%) translateY(-20%);
  font-weight: bold;
}

.t1-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0.2em;
  top: 35%;
  opacity: 0;
}
.t1-item:hover .t1-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease 0.25s;
}

.t1-content h1 {
  text-transform: uppercase;
  color: #666666;
  font-size: 1.4rem;
  font-weight: normal;
}

.t1-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: filter 0.2s ease;
}

.sec3 {
  padding-bottom: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
  /* border: 5px solid blue; */
  margin-bottom: 5rem;
}

.sec3container {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.sec3cols {
  display: grid;
  /* flex-direction: row;*/
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.sec3col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  /* border-radius: 5px; */
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
  width: 100;
  height: 100%;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 5px, rgba(0, 0, 0, 0.23) 0px 5px 10px;
}

.sec3col:hover {
  border: 1px solid #eeeeee;
  transform: translateY(-10px);
}

.row2 {
  margin-top: 2rem;
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1fr;
}

.sec3colbutton {
  text-decoration: none;
  color: var(--text_color);
}

.hour_rate {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* margin-left: 20vw;
  margin-right: 20vw; */
  padding: 3rem 1rem;
  margin-top: 2.5rem;

  -webkit-transition: 0.35s ease;
  -moz-transition: 0.35s ease;
  -o-transition: 0.35s ease;
  transition: 0.35s ease;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 5px, rgba(0, 0, 0, 0.23) 0px 5px 10px;
}
.sec3textwarning {
  max-width: 70ch;
}
/* .hour_rate:hover {
  background-color: #fff;
} */
.sec3img {
  width: 100px;
  height: 100px;
}
.sec3subtitle {
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.sec3text {
  padding-bottom: 1.3rem;
  padding-right: 1.3rem;
  padding-left: 1.3rem;

  /* max-width: 30ch; */
}

.sec3button {
  font-size: 0.9rem;
  width: 200px;
  /* transition: 0.2s ease-out; */
  /* background: linear-gradient(to left, #fff 50%, #a8ebe5 50%) right; */
  /* background-size: 200%; */
  /* background-color: #fff; */
  background-color: #fff;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #000;
  margin-bottom: 1rem;
}
.sec3button:hover {
  /* background-color: #f2e0e2; */
  font-weight: bold;
  color: #000;
}

.modal1 {
  display: none;
  color: #000;
  position: fixed;
  padding-top: 20vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content1 {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: auto;
  width: 75%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  max-height: 70vh;
  overflow: auto;
}

.close-btn1 {
  float: right;
  color: lightgray;
  font-size: 34px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}

.close-btn1:hover {
  color: red;
}

.fa-exclamation-circle {
  color: rgb(0, 66, 79);
  font-size: 5rem;
  margin-bottom: 1rem;
}
/* ==================================================================================*/
/* ====================================SECTION 4=====================================*/
/* ==================================================================================*/
.sec4 {
  /* border: 5px solid green; */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-bottom: 5rem;
  color: #000;
  background-color: #fff;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-bottom: 5rem;
}

.swiper {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  /* border: 10px solid red; */
}
.mySwiper {
  box-sizing: border-box;
}
.mySwiper2 {
  height: 494px !important;
  width: 1000px !important;
  margin-bottom: 1rem;
  /* border: 5px solid blue; */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 16px;
}
.mySwiper2 img {
  display: block;
  /* width: 100%; */
  height: 494px !important;
  width: 1000px !important;
  /* object-fit: cover; */
  cursor: pointer;
  object-position: right;
}

.mySwiper .swiper-slide {
  height: 100%;
  opacity: 1;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 0.4;
}

/* petites images */
.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover center;
  cursor: pointer;
}
/* Section 5 --------------------------- */
.sec5 {
  color: #fff;
  background: #3a5062;

  /* margin-bottom: 8rem; */
}
.sec5head {
  color: #fff;
}
.sec5text {
  max-width: 40ch;
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 1rem;
}
.sec5container {
  /* border: 2px solid red; */
  display: grid;
  grid-auto-flow: column;
  align-items: left;
  justify-content: center;
  gap: 5rem;
}
.sec5box {
  /* border: 2px solid red; */
  gap: 0;
  display: flex;
  flex-direction: column;
  /* border: 3px solid red; */
  align-items: flex-start;
  justify-content: baseline;
}

.sec5img {
  height: 60vh;
  margin-top: auto;
  /* border: 2px solid red; */
}

#fullName,
#email_id,
#message,
#title,
#budget_id {
  width: 30rem;
  height: 1rem;
  border-radius: 5px;
  margin: 0;
  padding: 10px;
  border: 1px solid #000;
  margin-top: 0.5rem;
}

#budget_id {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}
#message {
  min-height: 100px;
}

#btn_request {
  text-align: center;
  width: 200px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 20px;
  border: 1px solid #000;
  cursor: pointer;
  -webkit-transition: 0.15s ease;
  -moz-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease;
}
#btn_request:hover {
  background-color: #ebebeb;
}
.formSent {
  display: none;
  color: green;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  width: 30rem;
  background-color: #fff;
  padding: 10px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #000;
}
.formFail {
  max-width: 50ch;
  color: rgb(255, 60, 60);
  display: none;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.sec6 {
  background-color: #5a5a6b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec6img {
  padding-top: 2rem;
  width: 400px;
  height: 400px;
  /* background-color: #fff; */
}

@-webkit-keyframes animatetop {
  from {
    top: -5rem;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -5rem;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* ==================================================================================*/
/* ==================================Responsiveness==================================*/
/* =======================================1650=======================================*/

@media only screen and (max-width: 1650px) {
  .headPubli {
    font-size: 1.2rem;
  }
  p {
    font-size: 0.9;
    margin-left: 1rem;
    text-indent: -1.1rem;
  }
  html {
    scroll-behavior: smooth;
    scroll-padding: 4rem;
    /* scroll-behavior: auto; */
  }
  .navbar {
    margin-right: 0;
    padding-right: 0;
  }
  body {
    font-size: 0.95rem;
    margin-right: 0;
    padding-right: 0;
  }

  .navlist {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    list-style-type: none;
  }

  .navlist li a {
    font-size: 1rem;
    padding: 1.5rem;
  }
  .navlist li.active a:hover {
    font-size: 1rem;
  }
  .navlist li a:hover {
    font-size: 1.2rem;
    color: #000;
  }
  .navlist li.active {
    padding: 0.5rem 0;
    border-radius: 30px;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  /* Section 1 */
  .sec1 {
    /* max-width: 100vw; */
    min-height: 40vh;
    gap: 2rem;
    text-align: left;
    align-items: center;
    justify-content: space-evenly;

    color: var(--text_color);
    margin-left: auto;
    margin-right: auto;
    /* margin-right: 5rem; */
    color: #000;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .sec1left {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
  }
  .sec1head {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .sec1text {
    color: rgb(80, 80, 80);
    max-width: 50ch;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 1.25rem;
  }

  .sec1buttons {
    gap: 1rem;
  }
  /* #dfdfe9 */
  .sec1button {
    font-size: 0.85rem;
    /* border-radius: 4px; */
    padding: 0.5rem 0.5rem;
    width: 200px;
  }

  .sec1img {
    width: 300px;
  }

  .sec2head,
  .sec3head,
  .sec4head,
  .sec5head {
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 2.5rem;
  }

  .sec2 {
    margin-top: 1rem;
  }

  .sec2mid {
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  .fa-file-signature,
  .fa-chart-line,
  .fa-graduation-cap {
    font-size: 2.5rem;
  }

  .sec2subtitle {
    font-size: 1.1rem;
  }

  .sec4container {
    width: 90vw;
    height: 70vh;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .sec4bottom {
    margin-bottom: 5rem;
  }

  .swiper {
    width: 70vw;
  }
  .mySwiper {
    height: 15vh;
  }

  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    color: #000;
    font-size: 3rem;
  }

  .left-btn {
    left: -4rem;
  }

  .right-btn {
    right: -5rem;
  }

  .sec5text {
    font-size: 1rem;
  }
}
/* ==================================================================================*/
/* ==================================Responsiveness==================================*/
/* =======================================1350=======================================*/

@media only screen and (max-width: 1350px) {
  .headPubli {
    font-size: 1.2rem;
  }
  p {
    font-size: 0.95;
    margin-left: 1rem;
    text-indent: -1.1rem;
  }
  html {
    scroll-behavior: smooth;
    scroll-padding: 3rem;
    /* scroll-behavior: auto; */
  }
  body {
    font-size: 0.95rem;
  }

  .flagimg {
    width: 40px;
    border-radius: 7px;
    overflow: visible;
  }

  .navlist {
    grid-template-columns: 1fr repeat(4, auto) 1fr;
    padding-left: 0.45rem;
    padding-right: 0.45rem;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    list-style-type: none;
  }

  .navlist li a {
    font-size: 1rem;
    padding: 1.5rem;
  }
  .navlist li.active a:hover {
    font-size: 1rem;
  }
  .navlist li a:hover {
    font-size: 1.2rem;
    color: #000;
  }
  .navlist li.active {
    padding: 0.5rem 0;
    border-radius: 25px;
  }

  /* #dfdfe9 */
  .sec1button {
    font-size: 0.85rem;
    /* border-radius: 4px; */
    padding: 0.5rem 0.5rem;
    width: 200px;
  }

  .sec2head,
  .sec3head,
  .sec4head,
  .sec5head {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-size: 2.25rem;
    /* border: 2px solid red; */
  }

  .sec2mid {
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .icons {
    font-size: 1rem;
    color: #000;
  }

  .iconCV {
    font-size: 0.7rem;
    text-decoration: none;
    color: #ef6335;
    font-weight: bold;
    border: 1px solid #000;
    padding: 0.35rem;
    margin-top: 0.35rem;
    border-radius: 10px;
  }

  .fa-file-signature,
  .fa-chart-line,
  .fa-graduation-cap {
    font-size: 2rem;
  }

  .sec2img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    display: block;
    border-radius: 50%;
  }

  .sec2subtitle {
    font-size: 1.1rem;
  }

  .sec3 {
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sec3container {
    gap: 0rem;
  }
  .sec3cols {
    gap: 1rem;
  }

  .hour_rate {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .sec4container {
    width: 80vw;
  }

  .swiper {
    width: 90vw;
  }
  .mySwiper {
    height: 15vh;
  }
  .mySwiper2 {
    height: 346px !important;
    width: 700px !important;
  }
  .mySwiper2 img {
    height: 346px !important;
    width: 700px !important;
  }

  .btn {
    font-size: 2.5rem;
  }

  .left-btn {
    left: -4rem;
  }

  .right-btn {
    right: -5rem;
  }

  .sec5text {
    font-size: 1.25rem;
  }
}
/* ==================================================================================*/
/* ==================================Responsiveness==================================*/
/* =======================================1200px=======================================*/

@media only screen and (max-width: 1200px) {
  .navlist {
    grid-template-columns: 1fr repeat(4, auto) 1fr;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    list-style-type: none;
  }

  .navlist li a {
    font-size: 0.9rem;
    padding: 1rem;
  }
  .navlist li.active a:hover {
    font-size: 1rem;
  }
  .navlist li a:hover {
    font-size: 1.1rem;
    color: #000;
  }

  .headPubli {
    font-size: 1.1rem;
  }
  p {
    font-size: 0.8;
    margin-left: 1rem;
    text-indent: -1.1rem;
  }
  html {
    scroll-padding: 2rem;
  }
  body {
    font-size: 0.95rem;
  }

  /* SECTION 1 ---------------------------------------- */

  /* Section 1 */
  .sec1 {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    gap: 1rem;
    text-align: center;
  }
  br.responsive {
    display: inline;
  }

  .sec1left {
    align-items: center;
    margin-bottom: 4rem;
  }
  .sec1head {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
  }
  .sec1text {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .sec1buttons {
    gap: 1rem;
  }
  /* #dfdfe9 */
  .sec1button {
    font-size: 0.85rem;
    /* border-radius: 4px; */
    padding: 0.5rem 0.5rem;
    width: 200px;
  }

  .sec2head,
  .sec3head,
  .sec4head,
  .sec5head {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-size: 2.25rem;
    /* border: 2px solid red; */
  }

  .sec2mid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .hour_rate {
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 2rem 1rem;
    max-width: 60ch;
  }

  .icons {
    font-size: 1rem;
    color: #000;
  }

  .iconCV {
    font-size: 0.7rem;
    text-decoration: none;
    color: #ef6335;
    font-weight: bold;
    border: 1px solid #000;
    padding: 0.35rem;
    margin-top: 0.35rem;
    border-radius: 10px;
  }

  .fa-file-signature,
  .fa-chart-line,
  .fa-graduation-cap {
    font-size: 2rem;
  }

  .sec2img {
    height: 140px;
    width: 140px;
    object-fit: cover;
    display: block;
    border-radius: 50%;
  }

  .sec2subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #000;
  }

  .sec3text {
    max-width: 60ch;
  }

  /* .sec3container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  } */

  .sec3cols {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .sec4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
  }
  .sec4subhead {
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
  }
  .sec4container {
    width: 95vw;

    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
    /* border: 1px solid red; */
    /* border: 5px solid red; */
  }
  .swiper-button-prev,
  .swiper-button-next {
    visibility: hidden;
  }
  .mySwiper2 {
    height: 346px !important;
    width: 700px !important;
  }
  .mySwiper2 img {
    height: 346px !important;
    width: 700px !important;
  }
  /* .sec5 {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .sec5container {
    grid-auto-flow: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  #form_id {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
  }
  .sec5text {
    text-align: center;
  }

  .sec5container > .sec5img {
    grid-column: 1;
    grid-row: 2;
  }
  .sec5img {
    display: none;
    /* border: 2px solid red; */
  }

  #fullName,
  #email_id,
  #message,
  #title,
  #budget_id {
    width: 500px;
    height: 1rem;
    border-radius: 5px;
    margin: 0;
    padding: 10px;
    border: 1px solid #000;
    margin-top: 0.5rem;
  }

  #btn_request {
    width: 300px;
    padding: 10px;
    margin-top: 0.75rem;
    /* border: 2px solid red; */
  }
}
@media only screen and (max-width: 900px) {
  .navbar {
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid black; */
    height: auto;
    padding-top: 1rem;
  }
  .dropdown {
    margin-right: 0rem;
  }

  .hamburger {
    top: 0;
    left: auto;
    right: 0;
    background-color: #fff;
    display: block;
    /* border: 3px solid #73ad21; */
    color: #000;
    padding: 10px;
    z-index: 2100;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 10px;
  }

  #timeline {
    display: flex;
    flex-direction: column;
    /* background-color: #111111; */
  }
  .t1-item {
    width: 100%;
  }

  #timeline:hover .t1-item {
    width: 100%;
  }
  .t1-item:hover {
    width: 100% !important;
  }
  .t1-year {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    transition: all 0.35s ease 0.25s;
  }
  .t1-content {
    display: none;
  }
  .t1-item:hover .t1-year {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: bold;
  }

  .hamburger .closeIcon {
    display: none;
  }
  .showMenu {
    transform: translateY(0);
  }
  .navlist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    list-style-type: none;
  }

  .navlist li:not(:nth-child(1)) {
    height: 100%;
  }

  .navlist li:nth-child(2) {
    grid-column-start: 2;
  }

  .logo_img {
    opacity: 1;
    width: 70px;
  }

  .navlist li a {
    font-size: 1rem;
    padding: 1rem;
  }
  .navlist li.active a:hover {
    font-size: 0.9rem;
  }
  .navlist li a:hover {
    font-size: 1.1rem;
    color: #000;
  }
  .navlist li.active {
    padding: 0.5rem 0;
    border-radius: 25px;
  }

  .body {
    background: linear-gradient(90deg, #a2cbd2 0%, #63afbb 100%);
  }
  .navlist {
    flex-direction: column;
    gap: 0.5rem;
  }
  .sec1 {
    max-width: 100vw !important;
    margin-left: auto;
    margin-right: auto;

    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 2rem;
    gap: 1rem;
  }
  br.responsive {
    display: inline;
  }

  .sec1left {
    align-items: center;
  }
  .sec1head {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
  }
  .sec1text {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .sec1right {
    width: 100%;
    margin-left: -50px !important;
  }
  .sec1buttons {
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* #dfdfe9 */
  .sec1button {
    font-size: 0.85rem;
    border-radius: 4px;
    padding: 0.5rem 0.5rem;
    width: 150px;
  }
  .sec2left {
    grid-template-columns: auto;
    gap: 1rem;
    margin-bottom: 1rem;
    /* border: 2px solid red; */
  }

  .modal1 {
    padding-top: 5vh;
  }

  .mySwiper2 {
    height: 296px !important;
    width: 600px !important;
  }
  .mySwiper2 img {
    height: 296px !important;
    width: 600px !important;
  }
}
/* ==================================================================================*/
/* ==================================Responsiveness==================================*/
/* =======================================768px=======================================*/
@media only screen and (max-width: 600px) {
  .sec5 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #fullName,
  #email_id,
  #message,
  #title,
  #budget_id {
    width: 90vw;
    height: 1rem;
    border-radius: 5px;
    margin: 0;
    padding: 10px;
    border: 1px solid #000;
    margin-top: 0.5rem;
  }

  #btn_request {
    width: 60vw;
    padding: 10px;
    margin-top: 0.75rem;
    /* border: 2px solid red; */
  }

  .mySwiper2 {
    height: 222px !important;
    width: 450px !important;
  }
  .mySwiper2 img {
    height: 222px !important;
    width: 450px !important;
  }
}

@media only screen and (max-width: 500px) {
  .mySwiper2 {
    height: 148px !important;
    width: 300px !important;
  }
  .mySwiper2 img {
    height: 148px !important;
    width: 300px !important;
  }
}

.button--piyo {
  --main_color: #f4cf47;
  --sub_color1: #f4e19c;
  --sub_color2: #ff8108;
  --base_color: #000;
  --border_radius1: 60px 60px 40px 40px / 48px 48px 30px 30px;
  --border_radius2: 70px 70px 40px 40px / 48px 48px 30px 30px;
  --border_radius3: 40px 40px 40px 40px / 48px 48px 30px 30px;
}
.button--hoo {
  --main_color: #4993ff;
  --sub_color1: #385082;
  --sub_color2: #fff58f;
  --sub_color3: #fff;
  --base_color: #fff;
  --border_radius1: 50px 50px 50px 50px / 40px 40px 40px 40px;
  --border_radius2: 60px 60px 50px 50px / 40px 40px 40px 40px;
  --border_radius3: 40px 40px 50px 50px / 60px 60px 40px 40px;
  --border_radius3: 50px 50px 45px 45px / 40px 40px 60px 60px;
}
.button--pen {
  --main_color: #4d4d4d;
  --sub_color1: #fff;
  --sub_color2: #e9b800;
  --base_color: #e9b800;
  --border_radius1: 60px 60px 40px 40px / 48px 48px 30px 30px;
  --border_radius2: 70px 70px 40px 40px / 48px 48px 30px 30px;
  --border_radius3: 40px 40px 40px 40px / 48px 48px 30px 30px;
}
.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 40px;
  box-sizing: border-box;
  text-decoration: none;
  border: solid 3px #000;
  border-radius: 3cqh;
  background: var(--main_color);
  font-family: "Fredoka One", cursive;
}
.button::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  right: 20px;
  bottom: 0;
  margin: auto 0;
  width: 24px;
  height: 24px;
  background: var(--base_color);
  transition: all ease 0.2s;
}
.button__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
}
.button__wrapper::before,
.button__wrapper::after {
  transition: all 0.5s ease;
}
.characterBox {
  position: absolute;
  top: -54px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 140px;
  height: 56px;
}
.button__text {
  position: relative;
  z-index: 3;
  font-size: 1rem;
  letter-spacing: 4px;
  color: var(--base_color);
  transition: all 0.3s ease;
}
.character {
  position: relative;
  width: 56px;
  height: 36px;
  box-sizing: border-box;
  border: solid 3px #000;
  background: var(--main_color);
  border-radius: var(--border_radius1);
  animation: sleep 1s ease infinite alternate;
}
.character::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 22px;
  width: 12px;
  height: 12px;
  background: #000;
  clip-path: path(
    "M10.23,3.32c-3.54,.63-5.72,2.51-7.02,4.23-.33-1.58-.34-3.54,.93-5.12,.52-.65,.41-1.59-.24-2.11C3.24-.19,2.29-.08,1.77,.57c-3.82,4.77-.31,11.11-.13,11.42,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0-.01-.02,2.49,.04,2.52,0,.1-.14,1.54-4.82,6.59-5.71,.82-.14,1.37-.92,1.22-1.74s-.94-1.36-1.75-1.21Z"
  );
}
.character__face {
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 12px;
  height: 6px;
  background: var(--sub_color2);
  border-radius: 50% 50% 50% 50% / 78% 78% 22% 22%;
  transition: 0.2s;
}
.character__face::before,
.character__face::after {
  content: "";
  position: absolute;
  top: -4px;
  width: 8px;
  height: 2px;
  border-radius: 4px;
  background: #000;
}
.character__face::before {
  left: -5px;
}
.character__face::after {
  right: -5px;
}
.button--hoo .character__face::before,
.button--hoo .character__face::after {
  background: #fff;
}
.button--hoo .charactor__face2 {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 0;
  right: 0;
  margin: auto;
  width: 14px;
  height: 10px;
  background: #385082;
  animation: face_hoo 1s ease infinite alternate;
}
.button--hoo .charactor__face2::before,
.button--hoo .charactor__face2::after {
  content: "";
  position: absolute;
  top: -1px;
  width: 20px;
  height: 10px;
  box-sizing: border-box;
  border-radius: 50%;
  border: solid 3px #385082;
  background: #000;
}
.button--hoo .charactor__face2::before {
  left: -12px;
}
.button--hoo .charactor__face2::after {
  right: -12px;
}
.button--hoo .charactor__body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 2px #385082;
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
  border-bottom: solid 0 transparent;
  animation: body_hoo 1s ease infinite alternate;
}
.button--hoo .charactor__body::before,
.button--hoo .charactor__body::after {
  content: "";
  position: absolute;
  top: -4px;
  width: 0;
  height: 0;
  border-top: solid 2px #385082;
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
  border-bottom: solid 0 transparent;
}
.button--hoo .charactor__body::before {
  left: -17px;
}
.button--hoo .charactor__body::after {
  right: -17px;
}

.button--pen .charactor__face2 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 30px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  animation: face_pen 1s ease infinite alternate;
}
.button--pen .charactor__face2::before,
.button--pen .charactor__face2::after {
  content: "";
  position: absolute;
  top: -8px;
  width: 17px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}
.button--pen .charactor__face2::before {
  left: -4px;
}
.button--pen .charactor__face2::after {
  right: -4px;
}

.button--piyo::before {
  clip-path: path(
    "M24,12.02c0-1.09-.75-1.71-.81-1.77L11.17,.45c-.91-.74-2.21-.56-2.91,.42-.69,.97-.52,2.37,.39,3.11l7.12,5.81-13.7-.02h0C.93,9.77,0,10.76,0,11.99c0,1.23,.93,2.22,2.07,2.22l13.7,.02-7.13,5.78c-.91,.74-1.09,2.13-.4,3.11,.41,.58,1.03,.88,1.65,.88,.44,0,.88-.15,1.25-.45l12.04-9.76c.07-.06,.82-.67,.82-1.77Z"
  );
}
.button--hoo::before {
  clip-path: path(
    "M21.93,9.8h-3.33S11.5,.79,11.5,.79c-.74-.94-2.05-1.05-2.92-.26-.88,.79-.99,2.19-.25,3.13l4.84,6.13-11.09-.02C.95,9.73,0,10.76,0,11.99c0,1.23,.93,2.22,2.07,2.22l11.09,.02-4.86,6.12c-.74,.93-.63,2.33,.24,3.13,.39,.35,.87,.53,1.34,.53,.59,0,1.17-.27,1.58-.78l7.13-8.99h3.32s0,0,0,0c1.14,0,2.07-.99,2.07-2.22,0-1.23-.93-2.22-2.07-2.22Z"
  );
}
.button--pen::before {
  clip-path: path(
    "M23.36,10.63L6.18,.13c-.93-.57-1.85,.81-1.39,2.06l1.44,3.91c.3,.81,.01,1.81-.6,2.1L.72,10.58c-.96,.47-.96,2.37,0,2.83l4.91,2.38c.62,.3,.9,1.29,.6,2.1l-1.44,3.91c-.46,1.26,.46,2.63,1.39,2.06L23.36,13.37c.86-.53,.86-2.22,0-2.75Z"
  );
}
/* .button--piyo .button__wrapper::before,
.button--piyo .button__wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 130px;
  height: 38px;
  background: var(--sub_color1);
  clip-path: path(
    "M13.77,37.35L.25,16.6c-.87-1.33,.69-2.91,2-2.02l12.67,8.59c.81,.55,1.91,.14,2.18-.81l2.62-9.33c.39-1.4,2.34-1.42,2.76-.02l3.6,11.99c.33,1.11,1.74,1.4,2.47,.52L49.38,.52c.87-1.04,2.53-.42,2.53,.95V23.7c0,1.13,1.2,1.83,2.16,1.26l12.75-7.51c.85-.5,1.94,0,2.13,.98l1.5,7.6c.2,1.03,1.37,1.51,2.22,.92l17.74-12.3c1.09-.75,2.52,.25,2.21,1.55l-2.44,10.2c-.26,1.09,.74,2.06,1.8,1.75l30.8-9.04c1.37-.4,2.42,1.26,1.49,2.36l-9.07,10.66c-.83,.98-.1,2.49,1.17,2.42l12.12-.68c1.6-.09,2.12,2.15,.65,2.8l-2.73,1.21c-.18,.08-.38,.12-.58,.12H14.97c-.48,0-.93-.25-1.2-.65Z"
  );
} */
.button--piyo .button__wrapper::before {
  left: 0;
}
.button--piyo .button__wrapper::after {
  right: 0;
  transform: rotateY(180deg);
}
/* .button--hoo .button__wrapper::before,
.button--hoo .button__wrapper::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 100px;
  background: var(--sub_color1);
  clip-path: path(
    "M75.96,41.27l-42.76,11.17V0H0V100H33.2v-28.75l45.07-23.97c3.38-1.8,1.39-6.98-2.31-6.01Z"
  );
} */
.button--hoo .button__wrapper::before {
  left: 6px;
  bottom: 0;
}
.button--hoo .button__wrapper::after {
  right: 8px;
  bottom: -10px;
  transform: rotateY(180deg);
}
/* .button--pen .button__wrapper::before,
.button--pen .button__wrapper::after {
  content: "";
  position: absolute;
  width: 110px;
  height: 60px;
  background: var(--sub_color1);
  clip-path: path(
    "M9.12,14.14L43.15,.5c1.61-.86,3.57-.59,4.9,.68l19.55,14.31c.42,.4,.76,.89,.99,1.42l3.45,13.09c.89,2.06,3.18,3.09,5.28,2.37l11.76-4.86c1.56-.54,3.29-.11,4.43,1.1l11.93,12.39c.48,.51,.84,1.12,1.03,1.8l3.35,11.62c.8,2.79-1.25,5.58-4.1,5.58H4.27c-2.71,0-4.73-2.54-4.18-5.24L6.92,17.11c.26-1.28,1.07-2.37,2.2-2.97Z"
  );
} */
.button--pen .button__wrapper::before {
  left: -16px;
  bottom: -10px;
}
.button--pen .button__wrapper::after {
  right: -8px;
  bottom: -20px;
  transform: rotateY(180deg);
}
.button:hover .button__wrapper::before {
  transform: translateX(-12px);
}
.button:hover .button__wrapper::after {
  transform: rotateY(180deg) translateX(-12px);
}
.button:hover .button__text {
  letter-spacing: 6px;
}
.button:hover::before {
  right: 14px;
}
.button:hover .wakeup {
  animation: wakeup 0.2s ease;
  animation-fill-mode: forwards;
}
.button:hover .wakeup .character__face {
  top: 20px;
}
.button:hover .wakeup .character__face::before,
.button:hover .wakeup .character__face::after {
  animation: eye 5s linear infinite;
}
.button:hover .wakeup:nth-child(2) .character__face::before,
.button:hover .wakeup:nth-child(2) .character__face::after {
  animation: eye_2 5s linear infinite;
}
.button--hoo:hover .wakeup .charactor__face2::before,
.button--hoo:hover .wakeup .charactor__face2::after {
  height: 20px;
}
.button--hoo:hover .wakeup .charactor__body {
  animation: body_hoo_wakeup 0.2s ease;
  animation-fill-mode: forwards;
  border-top: solid 6px #385082;
}
.button--hoo:hover .wakeup .charactor__body::before,
.button--hoo:hover .wakeup .charactor__body::after {
  top: -12px;
  border-top: solid 5px #385082;
}
.button--pen:hover .wakeup .charactor__face2 {
  animation: face_pen_wakeup 0.2s ease;
  animation-fill-mode: forwards;
}
.button--pen:hover .wakeup .charactor__face2::before,
.button--pen:hover .wakeup .charactor__face2::after {
  top: -12px;
  height: 18px;
}
@keyframes sleep {
  0% {
    height: 36px;
    border-radius: var(--border_radius1);
  }
  100% {
    height: 32px;
    border-radius: var(--border_radius2);
  }
}
@keyframes wakeup {
  0% {
    height: 32px;
    border-radius: var(--border_radius2);
  }
  100% {
    height: 56px;
    border-radius: var(--border_radius3);
  }
}
@keyframes eye {
  0% {
    top: -6px;
    width: 6px;
    height: 6px;
  }
  30% {
    top: -6px;
    width: 6px;
    height: 6px;
  }
  32% {
    top: -4px;
    width: 8px;
    height: 2px;
  }
  34% {
    top: -6px;
    width: 6px;
    height: 6px;
  }
  70% {
    top: -6px;
    width: 6px;
    height: 6px;
  }
  72% {
    top: -4px;
    width: 8px;
    height: 2px;
  }
  74% {
    top: -6px;
    width: 6px;
    height: 6px;
  }
  76% {
    top: -4px;
    width: 8px;
    height: 2px;
  }
  78% {
    top: -6px;
    width: 6px;
    height: 6px;
  }
  100% {
    top: -6px;
    width: 6px;
    height: 6px;
  }
}
@keyframes eye_2 {
  0% {
    top: -6px;
    width: 6px;
    height: 6px;
  }
  10% {
    transform: translateX(0);
  }
  12% {
    transform: translateX(3px);
  }
  20% {
    top: -6px;
    width: 6px;
    height: 6px;
  }
  22% {
    top: -4px;
    width: 8px;
    height: 2px;
  }
  24% {
    top: -6px;
    width: 6px;
    height: 6px;
  }
  25% {
    transform: translateX(3px);
  }
  27% {
    transform: translateX(0);
  }
  74% {
    top: -6px;
    width: 6px;
    height: 6px;
    transform: translateX(0);
  }
  76% {
    top: -4px;
    width: 8px;
    height: 2px;
    transform: translateX(3px);
  }
  78% {
    top: -6px;
    width: 6px;
    height: 6px;
  }
  80% {
    top: -4px;
    width: 8px;
    height: 2px;
  }
  82% {
    top: -6px;
    width: 6px;
    height: 6px;
  }
  85% {
    transform: translateX(3px);
  }
  87% {
    transform: translateX(0);
  }
  100% {
    top: -6px;
    width: 6px;
    height: 6px;
    transform: translateX(0);
  }
}
@keyframes body_hoo {
  0% {
    bottom: 2px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes body_hoo_wakeup {
  0% {
    bottom: 2px;
  }
  100% {
    bottom: 6px;
  }
}
@keyframes face_pen {
  0% {
    height: 14px;
  }
  100% {
    height: 10px;
  }
}
@keyframes face_pen_wakeup {
  0% {
    height: 14px;
  }
  100% {
    height: 28px;
  }
}

/* 本体と関係ないスタイル */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.button:not(:last-child) {
  margin-bottom: 80px;
}
